<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>interface</title>
</head>
<body>
    <h1>
        Form data for submission
    </h1>
    <p>Percentage of "A" submissions: {{ data.perc }}</p>
    <p>Standard deviation of the integral submission: {{ data.stdv }}</p>
    <p>Mean of integral submissions: {{ data.mean }}</p>
</body>
</html>