<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="main.js"></script>
    <title>interface</title>
</head>
<body>
    <div id="sub-data">
        <h1>
            Form data for submission
        </h1>
        <p>Percentage of "A" submissions: <span id="perc"></span></p>
        <p>Standard deviation of the integral submission: <span id="stdv"></span></p>
        <p>Mean of integral submissions: <span id="avg"></span></p>
    </div>
</body>
</html>